extends layout

block content
  h1= title
  p Welcome to my sailaja life. I don't like disturb people who are not intersted to talk with me.They should clearn enough before making friends. if  not dont go bilndly 
  button(type="button", class="btn btn-secondary") Press Me
